# Server address in the form of "host:port".
# If empty 0.0.0.0:80 is used.
ADDRESS="127.0.0.1:8080"

# Directory where uploaded files are stored (required)
# It's created automatically if it doesn't exist.
BASE_FILE_PATH="./files"

# Max size of a single uploaded file, in megabytes
MAX_FILE_SIZE_MB=4096

# Max size of a single upload chunk, in megabytes
# It must not exceed MAX_FILE_SIZE_MB
MAX_CHUNK_SIZE_MB=10

# Max seconds an incomplete upload is kept in memory without activity
# before being discarded.
MAX_IN_MEMORY_SECONDS=10